@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family);
} 
.css-1086bdv-MuiPaper-root-MuiAccordion-root {
box-shadow: none !important ;
position: static !important;
}
input[type=number] {
  /* Disable increment/decrement arrows */
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Optional: Remove default browser styles for number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

